@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<br/>
<a href="/this-page-does-not-exist">Go to 404 Not Found</a>

<SurveyPrompt Title="How is Blazor working for you?" />
